@use 'typography';

#testimonial-grid {
    & > p {
        @include typography.Poppins(600, 18px);
        color: #616161;
        text-align: center;
    }
}

.flex-container {
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    
    & img {
        width: 100%;
        height: auto;
        max-width: 300px;
        object-fit: cover;
        object-position: center;
    }
    
    .flex-1, .flex-3 {
        display: flex;
        // align-items: flex-start;
        gap: 1em;
        div {
            display: flex;
            gap: 1em;
            flex-direction: column;
            justify-content: center;
        }
    }

    @media screen and (max-width: 771px) {
        padding: 0.5em;
        gap: 0.5em;

        .flex-1, .flex-3 {
            gap: 0.5em;
            div {
                gap: 0.5em;
            }
        }
    }
}