@use 'typography';
@use 'header';
@use 'banner';
@use 'productBrowser';
@use 'productList';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

section:not(:first-of-type) {
    margin: 2rem auto;
    & > #section-header span {
        margin-top: 0.5em;
        display: block;
        color: #666666;
        text-align: center;
        @include typography.Poppins(400, 20px);
        
        @media screen and (max-width: 757px) {
            @include typography.Poppins(400, 15px);
        }
    }
}


h2 {
    @include typography.Poppins(700, 40px);
    text-align: center;
    
    @media screen and (max-width: 757px) {
        @include typography.Poppins(600, 32px);
    }
}