@use 'typography';
@use 'header';
@use 'banner';
@use 'productBrowser';
@use 'productList';
@use 'footer';
@use 'testimonial';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


section:not(:first-of-type) {
    margin: 3rem auto 0;
    & > #section-header span {
        padding-top: 0.5em;
        display: block;
        color: #666666;
        text-align: center;
        @include typography.Poppins(400, 20px);
        
        @media screen and (max-width: 757px) {
            @include typography.Poppins(400, 15px);
        }
    }
}


h2 {
    @include typography.Poppins(700, 40px);
    text-align: center;
    
    @media screen and (max-width: 757px) {
        @include typography.Poppins(600, 32px);
    }
}


li.links > a {
    color: black;
    text-decoration: none;
    position: relative;
    padding: 2px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color:rgb(0, 0, 0);
        width: 0%;
        height: 2px;
        transition: all 0.3s ease-out;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}


// dark mode toggle

body.dark-theme {
    main, header, footer {
        background-color: #001b2e;
    }

    #section-header span {
        color:#eef3f9;
    }

    #testimonial-grid > p {
        color:#eef3f9;
    }

    .banner-content {
        span {
            color: black;
        }
        p {
            color: black;
        }
    }

    li > a, span, h2, p, h3 {
        color: #eef3f9;

        &::after {
            background-color: #eef3f9;
        }
    }

    section p {
        color:#eef3f9;
    }

    #newsletter-btn {
        background-color: #ffffff00;
        color: #eef3f9;
        border-color: #eef3f9;
    }

    input[type="email"] {
        background-color: #001b2e;
        color:#eef3f9;
        border-color: #eef3f9;
    }

    .icons > path {
        fill: #eef3f9;
    }
    
    .icons-stroke > path {
        stroke: #eef3f9;
    }

    footer, #rights {
        border-color: #626262;
    }

    header .mobile-menu {
        background-color:#001b2eb7;
    }
}